---
import CalculateYourInsuranceStep from "@/models/calculate-your-insurance/CalculateYoutInsuranceStep";
import StepCompleteIcon from "./icons/step-complete-icon.astro";
import StepIcon from "./icons/step-icon.astro";
import StepInfo from "@/models/step-info";
import fetchApi from "@/lib/strapi";

let steps: StepInfo[];

try {
  steps = await fetchApi<StepInfo[]>({
    endpoint: "steps?locale=es",
    wrappedByKey: "data",
  });
} catch (error) {
  return Astro.redirect("/404");
}

const { currentStep } = Astro.props;
---

<ol
  class="relative text-gray-500 border-s border-gray-200 dark:border-gray-700 dark:text-gray-400"
>
  {
    steps.map(({ title, subtitle, icon }, index) => (
      <li class="mb-10 ms-6">
        {currentStep > index ||
        currentStep == CalculateYourInsuranceStep.Confirmation ? (
          <StepCompleteIcon />
        ) : (
          <StepIcon icon={icon} />
        )}
        <h3 class="font-medium leading-tight">{title}</h3>
        <p class="text-sm">{subtitle}</p>
      </li>
    ))
  }
</ol>
