---
import Layout from "../../layouts/Layout.astro";
import Steps from "@/components/calculate-your-insurance/steps/steps.astro";
import CalculateYourInsuranceStep from "@/models/calculate-your-insurance/CalculateYoutInsuranceStep";
import PaymentButton from "@/components/react/calculate-your-insurance/steps/PaymentButton";
import { ReactNode } from "react";
import { NextStepButton } from "@/components/react/calculate-your-insurance/steps/NextStepButton";

interface Props {
  step: CalculateYourInsuranceStep;
  title: string;
  description: string;
  children?: ReactNode;
}

const { step, title, description } = Astro.props<Props>;
---

<Layout title="Calcula tu seguro">
  <div class="flex flex-row gap-8 w-full max-w-screen-xl mx-auto px-4 pb-8">
    <aside class="w-50 pt-20 mr-10">
      <Steps currentStep={step} />
    </aside>
    <article>
      <section class="flex flex-col items-center justify-center w-full">
        <h2 class="mb-0 text-center font-light">{title}</h2>
        <h1 class="mb-10 text-center font-semibold">
          {description}
        </h1>
        <slot />
      </section>
    </article>
  </div>
  <section class="m-auto">
    {
      step == CalculateYourInsuranceStep.PersonalInfo ? (
        <PaymentButton client:only />
      ) : step !== CalculateYourInsuranceStep.Confirmation ? (
        <NextStepButton client:only nextStep={Number(step) + 1}/>
      ): <></>
    }
  </section>
</Layout>
