---
import NextStepButton from "@/components/calculate-your-insurance/NextStepButton.astro";
import Layout from "../../layouts/Layout.astro";
import Steps from "@/components/calculate-your-insurance/steps/steps.astro";
import TravelInsuranceSummary from "@/components/calculate-your-insurance/steps/TravelInsuranceSummary";
---

<Layout title="Resumen del seguro">
  <main class="flex flex-col items-center justify-center w-full">
    <div class="flex flex-row gap-8 w-full max-w-screen-xl mx-auto px-4 pb-8">
      <aside class="w-50">
        <Steps currentStep="2" />
      </aside>
      <article>
        <section class="flex flex-col items-center justify-center w-100">
          <h2 class="mb-0 text-center font-light">Datos del seguro</h2>
          <h1 class="mb-10 text-center font-semibold">Precio</h1>

          <TravelInsuranceSummary client:load />
        </section>
      </article>
    </div>
    <section>
      <NextStepButton nextStep="4" />
    </section>
  </main>
</Layout>
