---
import CalculateYourInsuranceStep from "@/models/calculate-your-insurance/CalculateYoutInsuranceStep";

const { nextStep } = Astro.props;

const nextStepHref = `/calculate-your-insurance/step-${nextStep}`;

let title = "Siguiente";

switch (nextStep) {
  case CalculateYourInsuranceStep.Summary:
    title = "Calcular precio";
    break;
  case CalculateYourInsuranceStep.PersonalInfo:
    title = "Contratar";
    break;
  case CalculateYourInsuranceStep.Confirmation:
    title = "Descargar póliza";
    break;

  default:
    break;
}
---

<a
  id="calculate-your-insurance-next-step-button"
  class="ui-button"
  href={nextStepHref}
>
  {title}
</a>
