---
const { nextStep } = Astro.props;

const nextStepHref = `/calculate-your-insurance/step-${nextStep}`;
---

<a
  id="calculate-your-insurance-next-step-button"
  class="w-100 inline-block text-center rounded-sm border border-primary px-12 py-3 text-sm font-medium text-primary hover:bg-secondary hover:text-white focus:ring-3 focus:outline-hidden"
  href={nextStepHref}
>
  Siguiente
</a>
